/** Author y_maeda
*********************************
***
*** COMMON CSS
***
*********************************
**
** --------------------------------*/


/*******************
 *共通処理
*******************/

body {
    font-family: "Noto Serif JP", 游明朝, "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", HGS明朝E, メイリオ, Meiryo, "Times New Roman", Times, Garamond, Georgia, serif;
    color: #ffff;
}

section {
    border: none;
}

.navbar-inverse {
    background-color: transparent;
    border: none;
    width: 100%;
    top: 25px;
    z-index: 1000;
    position: fixed;
}

.navbar-inverse .navbar-brand {
    color: #ffff;
    font-weight: bolder;
    font-size: 24px;
    width: 15%;
}

.navbar-inverse .navbar-brand img {
    display: block;
    width: 100%;
}

.navbar-inverse .navbar-nav>li>a {
    color: #ffff;
    font-weight: bolder;
}

.navbar-nav {
    float: right;
}

#loading-wrapper {
    background-color: #1e212a;
}


/*******************
 *PCとSPのCSS
*******************/

.pc-zone {
    display: block!important;
    width: 100%;
}

.sp-zone {
    display: none!important;
    ;
}

@media screen and (max-width: 480px) {
    .pc-zone {
        display: none!important;
    }
    .sp-zone {
        display: block!important;
    }
}


/*******************
 *footer
*******************/

#footer {
    display: block;
    padding: 20px 0px;
    font-size: 1.4rem;
    background-color: #1e212a;
}

.footer-logo-area {
    width: 10%;
    max-width: 100px;
    margin: auto;
    padding: 50px 0px;
}

.footer-logo-area img {
    display: block;
    width: 100%;
}

@media screen and (max-width: 480px) {
    #footer {
        padding: 10px 0px;
        font-size: 0.5rem;
    }
    .footer-logo-area {
        padding: 20px 0px;
    }
}
