/** Author y_maeda
*********************************
***
*** reserve CSS
***
*********************************
** --------------------------------*/

#main-area {
    color: #080808;
    padding: 100px 0px;
    width: 30%;
    margin: auto;
    min-height: 850px;
}

.reserve-title {
    font-size: 3.5rem;
    text-align: center;
    padding-bottom: 40px;
}

.complete-title {
    font-size: 3.5rem;
    text-align: center;
    padding-bottom: 40px;
}

.reservation-id-area {
    padding: 50px 0px;
    font-size: 1.5em;
}

.reservation-id-area div {
    width: 100%;
    text-align: center;
}

.reservation-id {
    padding: 20px 0px;
    margin: 30px auto;
    background-color: #f8fac9;
}

.reserve-sold-out {
    font-size: 2.5rem;
}

.form-group {
    padding: 20px 0px;
}

.control-label {
    font-size: 2.5rem;
}

.input-display-area {
    font-size: 2.5rem;
}

.input-request-message {
    text-align: center;
    border-bottom: 2px dotted black;
}

.attention {
    color: red;
    font-weight: bolder;
    font-size: 1.5rem;
}

.checkbox span {
    font-size: 2.5rem;
}

.btn-area {
    margin: 30px auto;
    max-width: 376px;
    width: 80%;
}

.btn-area button {
    display: block;
    position: relative;
    background-color: #25313c;
    border: solid 1px #25313c;
    overflow: hidden;
    color: #fff;
    font-size: 1.6rem;
    line-height: 1;
    letter-spacing: 0.09em;
    text-align: center;
    padding: 31px 50px;
    width: 100%;
}

.btn-reserve-area {
    width: 100%;
    margin: auto;
}

.btn-reserve-area button {
    display: block;
    position: relative;
    background-color: #25313c;
    border: solid 1px #25313c;
    overflow: hidden;
    color: #fff;
    font-size: 1.6rem;
    line-height: 1;
    letter-spacing: 0.09em;
    text-align: center;
    padding: 15px 25px;
    width: 40%;
}

.btn-inner-area {
    padding-top: 30px;
    display: flex;
    justify-content: space-evenly;
}

@media screen and (max-width: 480px) {
    #main-area {
        padding: 50px 0px;
        width: 80%;
        min-height: 700px;
    }
    .reserve-title {
        font-size: 2.5rem;
    }
    .complete-title {
        font-size: 2.5rem;
    }
    .reservation-id-area {
        padding: 25px 0px;
        font-size: 1em;
    }
    .reserve-sold-out {
        font-size: 1.5rem;
    }
    .btn-reserve-area {
        width: 100%;
    }
    .form-group {
        padding: 10px 0px;
    }
    .control-label {
        font-size: 1.5rem;
    }
    .input-display-area {
        font-size: 1.5rem;
    }
    .checkbox span {
        font-size: 1.5rem;
    }
    .btn-reserve-area button {
        font-size: 0.6rem;
    }
}
